<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="appFrxSettings" type="Cinchoo.Core.ChoAppFrxSettings, Cinchoo.Core" />
  </configSections>
  <appFrxSettings appEnvironment="" sharedEnvironmentConfigFilePath=""
		appFrxFilePath="" doNotShowEnvSelectionWnd="true" applicationHostType=""
		disableFrxConfig="true" disableAppConfig="false" disableMetaDataConfig="true" />
  <appSettings>
    <add key="SDKDirectory" value="C:\Program Files (x86)\Microsoft SDKs\Windows\v7.0A\Bin" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
